<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated railwayMap -->
      <package
            uri="eseo.idm.railway"
            class="eseo.idm.railway.RailwayPackage"
            genModel="model/railwayMap.xcore"/>
   </extension>

</plugin>
